# YELP
Loveida Lucero

In [1]:
import json
with open('/Users/Lovei/.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [2]:
!pip install yelpapi

Requirement already satisfied: yelpapi in c:\users\lovei\anaconda3\envs\dojo-env\lib\site-packages (2.5.1)
Requirement already satisfied: requests in c:\users\lovei\anaconda3\envs\dojo-env\lib\site-packages (from yelpapi) (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lovei\anaconda3\envs\dojo-env\lib\site-packages (from requests->yelpapi) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lovei\anaconda3\envs\dojo-env\lib\site-packages (from requests->yelpapi) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lovei\anaconda3\envs\dojo-env\lib\site-packages (from requests->yelpapi) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lovei\anaconda3\envs\dojo-env\lib\site-packages (from requests->yelpapi) (2023.5.7)

In [3]:
from yelpapi import YelpAPI
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [4]:
# Quick Test Query
results = yelp_api.search_query(location='Baltimore, MD',
                                       term='Crab Cake')
print(type(results))
results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

## What is the top level of the JSON data?

In [5]:
# Open the jsonfile and display the first level of keys
# open API results WITH json module
import json
with open('Data/example_yelp_results.json') as f:   #adjust for your path
    json_file = json.load(f)
    
## What type is top-level of json?
type(json_file)

dict

In [6]:
# what are the keys?
json_file.keys()

dict_keys(['businesses', 'total', 'region'])

## What is stored in the second level?

## 'region'

In [7]:
# what type is region?
type(json_file['region'])

dict

In [8]:
# what keys are in region?
json_file['region'].keys()

dict_keys(['center'])

In [9]:
# what type is center?
type(json_file['region']['center'])

dict

In [10]:
# what are the keys in center?
json_file['region']['center'].keys()

dict_keys(['longitude', 'latitude'])

In [11]:
# Visualize the whole center dict, since lat and long are likely single values
json_file['region']['center']

{'longitude': -76.607666015625, 'latitude': 39.29617825404647}

## 'total'

In [12]:
# what is stored under the "total" key?
type(json_file['total'])

int

In [13]:
## what is the value?
json_file['total']

435

## 'businesses'

In [14]:
# what is in the businesses key?
type(json_file['businesses'])

list

In [15]:
# how long is businesses?
len(json_file['businesses'])

20

In [16]:
# what does the first entry of business look like?
json_file['businesses'][0]

{'id': 'D9A33FM394q99o4QtK5YwA',
 'alias': 'faidleys-seafood-baltimore-3',
 'name': 'Faidleys Seafood',
 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDCVS7pGopH6GZcfjBA/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/faidleys-seafood-baltimore-3?adjust_creative=KJtcufKUS887p24u6rjVIQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KJtcufKUS887p24u6rjVIQ',
 'review_count': 1184,
 'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'beerbar', 'title': 'Beer Bar'}],
 'rating': 4.0,
 'coordinates': {'latitude': 39.291696, 'longitude': -76.62224},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '203 N Paca St',
  'address2': '',
  'address3': '',
  'city': 'Baltimore',
  'zip_code': '21201',
  'country': 'US',
  'state': 'MD',
  'display_address': ['203 N Paca St', 'Baltimore, MD 21201']},
 'phone': '+14107274898',
 'display_phone': '(410) 727-4898',
 'distance': 1349.560720156645}

In [17]:
## what are the keys of the first entry in businesses?
json_file['businesses'][0].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

In [18]:
## what are the keys of the NEXT entry in businesses? Do they match the first?
json_file['businesses'][1].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

## Identifying "records"

In [19]:
import pandas as pd
df_businesses = pd.DataFrame(json_file['businesses'])
df_businesses.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1184,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2919,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","[delivery, pickup]",$$,"{'address1': '750 E Pratt St', 'address2': '',...",+14105285373,(410) 528-5373,1028.736468
2,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2729,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1279,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","[delivery, pickup]",$$,"{'address1': '2901 Odonnell St', 'address2': '...",+14102763160,(410) 276-3160,3328.825798
4,ISn7WyGQaFpsVSRSh0NSqg,sal-and-sons-baltimore,Sal and Sons,https://s3-media3.fl.yelpcdn.com/bphoto/LmVL4j...,False,https://www.yelp.com/biz/sal-and-sons-baltimor...,153,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.284, 'longitude': -76.59337}",[delivery],$,"{'address1': '1640 Aliceanna St', 'address2': ...",+14106751466,(410) 675-1466,1817.406978

In [20]:
df_businesses[['categories','coordinates','location']].head(3)

,categories,coordinates,location
0,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.291696, 'longitude': -76.62224}","{'address1': '203 N Paca St', 'address2': '', ..."
1,"[{'alias': 'breakfast_brunch', 'title': 'Break...","{'latitude': 39.2870995, 'longitude': -76.6053...","{'address1': '750 E Pratt St', 'address2': '',..."
2,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.28214, 'longitude': -76.59162}","{'address1': '1728 Thames St', 'address2': '',..."

## Business Search

In [21]:
help(yelp_api.search_query)

Help on method search_query in module yelpapi.yelpapi:

search_query(**kwargs) method of yelpapi.yelpapi.YelpAPI instance
    Query the Yelp Search API.

    documentation: https://www.yelp.com/developers/documentation/v3/business_search

    required parameters:
        * one of either:
            * location - text specifying a location to search for
            * latitude and longitude

In [22]:
# use our yelp_api variable's search_query method to perform our API call
search_results = yelp_api.search_query(location='NY, NY',
                                       term='Pizza')
print(type(search_results))
search_results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [23]:
# total number of matching businesses
search_results['total']

12400

In [24]:
biz = pd.DataFrame(search_results['businesses'])
biz.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,ysqgdbSrezXgVwER2kQWKA,julianas-brooklyn-3,Juliana's,https://s3-media2.fl.yelpcdn.com/bphoto/od36nF...,False,https://www.yelp.com/biz/julianas-brooklyn-3?a...,2701,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 40.70274718768062, 'longitude': -...",[delivery],$$,"{'address1': '19 Old Fulton St', 'address2': '...",+17185966700,(718) 596-6700,308.569844
1,zj8Lq1T8KIC5zwFief15jg,prince-street-pizza-new-york-2,Prince Street Pizza,https://s3-media4.fl.yelpcdn.com/bphoto/PfI8oV...,False,https://www.yelp.com/biz/prince-street-pizza-n...,5078,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 40.72308755605564, 'longitude': -...","[delivery, pickup]",$,"{'address1': '27 Prince St', 'address2': None,...",+12129664100,(212) 966-4100,1961.877142

In [25]:
## how many businesses in our results
len(search_results['businesses'])

20

In [27]:
# add offset to our original api call
search_results = yelp_api.search_query(location='NY, NY',
                                       term='Pizza',
                                       offset = 20)

In [28]:
biz20 = pd.DataFrame(search_results['businesses'])
biz20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,-9NO2IDCJMyNGZMAQ1-VQw,ny-pizza-suprema-new-york,NY Pizza Suprema,https://s3-media4.fl.yelpcdn.com/bphoto/EqbDXn...,False,https://www.yelp.com/biz/ny-pizza-suprema-new-...,2548,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 40.7502059936523, 'longitude': -7...","[delivery, pickup]",$,"{'address1': '413 8th Ave', 'address2': '', 'a...",+12125948939,(212) 594-8939,4977.847939
1,GRXvvB1OKMuW4XDWEaVAlg,joes-pizza-brooklyn-8,Joe's Pizza,https://s3-media3.fl.yelpcdn.com/bphoto/0WEXB_...,False,https://www.yelp.com/biz/joes-pizza-brooklyn-8...,459,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.7168952, 'longitude': -73.9589...","[delivery, pickup]",$,"{'address1': '216 Bedford Ave', 'address2': ''...",+17183882216,(718) 388-2216,3241.190355

In [29]:
## concatenate the previous results and new results. 
businesses = pd.concat([biz, biz20],
                      ignore_index=True)
display(businesses.head(3), businesses.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,ysqgdbSrezXgVwER2kQWKA,julianas-brooklyn-3,Juliana's,https://s3-media2.fl.yelpcdn.com/bphoto/od36nF...,False,https://www.yelp.com/biz/julianas-brooklyn-3?a...,2701,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 40.70274718768062, 'longitude': -...",[delivery],$$,"{'address1': '19 Old Fulton St', 'address2': '...",+17185966700,(718) 596-6700,308.569844
1,zj8Lq1T8KIC5zwFief15jg,prince-street-pizza-new-york-2,Prince Street Pizza,https://s3-media4.fl.yelpcdn.com/bphoto/PfI8oV...,False,https://www.yelp.com/biz/prince-street-pizza-n...,5078,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 40.72308755605564, 'longitude': -...","[delivery, pickup]",$,"{'address1': '27 Prince St', 'address2': None,...",+12129664100,(212) 966-4100,1961.877142
2,WG639VkTjmK5dzydd1BBJA,rubirosa-new-york-2,Rubirosa,https://s3-media3.fl.yelpcdn.com/bphoto/l0Phrn...,False,https://www.yelp.com/biz/rubirosa-new-york-2?a...,3193,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 40.722766, 'longitude': -73.996233}",[pickup],$$,"{'address1': '235 Mulberry St', 'address2': ''...",+12129650500,(212) 965-0500,1932.946770

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
37,vVVmHacu2YAxKfpIjhfd1g,norma-new-york-5,Norma,https://s3-media3.fl.yelpcdn.com/bphoto/qJKt5l...,False,https://www.yelp.com/biz/norma-new-york-5?adju...,625,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 40.743553, 'longitude': -73.980026}","[delivery, pickup]",$$,"{'address1': '438 3rd Ave', 'address2': None, ...",+12128890600,(212) 889-0600,4409.483534
38,zf4Q7vCUbUab4Y0OeU0kyw,joes-pizza-new-york-154,Joe's Pizza,https://s3-media3.fl.yelpcdn.com/bphoto/y9VBtB...,False,https://www.yelp.com/biz/joes-pizza-new-york-1...,1,"[{'alias': 'pizza', 'title': 'Pizza'}]",5.0,"{'latitude': 40.70407579478303, 'longitude': -...",[],NaN,"{'address1': '100 Pearl St', 'address2': '', '...",,,1308.722513
39,2FgUndzCT_jJATbmrBDVBg,paulie-gees-slice-shop-brooklyn,Paulie Gee's Slice Shop,https://s3-media4.fl.yelpcdn.com/bphoto/x01yyT...,False,https://www.yelp.com/biz/paulie-gees-slice-sho...,357,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,"{'latitude': 40.72836, 'longitude': -73.9572}",[delivery],$,"{'address1': '110 Franklin St', 'address2': ''...",+19293376384,(929) 337-6384,4034.987859